.upper-header{
    background-color: #61AE45;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .link{
    color: #ffffff;
  }
  #links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
  }
  #links li {
    text-decoration: none;
    margin-left: 20px;
    list-style: none;
    color: beige;
  }
  #links li a{
    text-decoration: none;
    margin-left: 20px;
    list-style: none;
    color: beige !important;
  }
  #links li a:hover {
    font-size: 25px;
    transition: font-size 0.9s ease;
  }
  .lower-header{
    background-color: #61AE45;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .labelforsearch {
    cursor: text;
    padding: 0px 12px;
    margin-right: 20p;
  }
  
  .searchIcon {
    width: 13px;
  }
  
  .border {
    height: 40%;
    width: 100%;
    background-color: rgb(223, 223, 223);
  }
  
  .micIcon {
    width: 12px;
  }
  
  .micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  
  .searchIcon path {
    fill: rgb(114, 114, 114);
  }
  
  .micIcon path {
    fill: rgb(255, 81, 0);
  }
  
  .micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: 0.3s;
  }
  /* From Uiverse.io by pathikcomp */ 
.card {
  display: flex;
  width: 250px;
  height: 30px;
  /* gap: 1.2rem; */
  background-color: whitesmoke;
  border-radius: 115px;
  position: relative;
  justify-content: space-around;
  margin-left: 20px;
  flex-direction: row !important;
    padding: 10px 0 !important;
  /* align-items: center; */
}
.card-header{
  font-size: 25px;
  font-weight: bold;

  
}

.social-icons {
  cursor: pointer;
  display: flex;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: small;
}

.social-icons > p {
  --var: -0%;
  position: absolute;
  top: var(--var);
  transition: all 0.7s;
  background-color: dodgerblue;
  border-radius: 7px;
  opacity: 0;
  padding-inline: 7px;
  padding-block: 3px;
  width: max-content;
}
.social-icons > p::after {
  content: "";
  position: absolute;
  border-top: 10px solid dodgerblue;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}
.social-icons > a {
  --var: -0%;
  position: absolute;
  bottom: var(--var);
  width: max-content;
  transition: all 0.7s;
  opacity: 0;
  padding-inline: 7px;
  padding-block: 3px;
  background-color: crimson;
  border-radius: 7px;
}
.social-icons > a::after {
  content: "";
  position: absolute;
  border-bottom: 10px solid crimson;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

.social-icons:hover > a,
.social-icons:hover > p {
  --var: -130%;
  opacity: 1;
}

.social-icons:hover {
  z-index: 15;
}

.card:hover > .social-icons:not(:hover) {
  filter: blur(3px);
  transform: scale(0.8);
}

.card svg {
  height: 20px;
}
.theCard{
    display: flex ;
    align-items: baseline;
}
hr{
  margin: 0 !important;
}
.social-media {
  gap: 15px; /* Space between the icons */
  margin-left: 3px;
}

.social-link {
  font-size: 10px;
  color: #fff; /* Default color for icons */
  transition: color 0.3s ease;
  margin-left: 3px;
}

.social-link:hover {
  color: #007bff; /* Change color on hover (Bootstrap's primary color) */
}

/* For tablets */
@media (max-width: 768px) {
  .upper-header{
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  .theCard{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
  }
  .lower-header{
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
  }
  
}

@media (min-width: 768px) {
  .logo{
margin-right: 140px;
}
}
/* For mobile devices */
@media (max-width: 480px) {
  .upper-header{
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: none;
    
  }
  .theCard{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
    align-items: baseline;
  }
  .lower-header{
    flex-wrap: wrap;
    text-align: center;
    margin: auto;

  }

  .InputContainer{
    margin: 15px;
  }
  
}
@media (min-width: 768px) {
  .col-md-3 {
      width: 50% !important;
  }
}
