body {

    background-color: #f8f9fa;
}
.signup-container {
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 30px;
    margin: 30px;
    justify-self: anchor-center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 450px;
}
.tab-switch {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
.tab-switch a {
    text-decoration: none;
    font-weight: bold;
    color: #888;
    padding-bottom: 5px;
}
.tab-switch a.active {
    color: black;
    border-bottom: 3px solid orange;
}