/* From Uiverse.io by gharsh11032000 */ 
.form-container {
    width: 515px;
    background-color: #fff;
    margin: 30px 0 30px 0;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
.text-header{
    text-align: center;
    color: #5F6C72;
}
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #61ae45;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
    color: #2DA5F3;

  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
.forget-password{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.custService{
    color: #61ae45;
}
/*main sin in btn*/
/* From Uiverse.io by alshahwan */ 
button {
  background-color: #61AE45;
  border: 1px solid #61AE45;
  padding: 5px;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  cursor: pointer;
  align-self: center;
}

button p {
  position: absolute;
  top: 0.4em;
  left: 2.5em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #61AE45;
}


button:hover p {
  left: 2em;
  color: #fff
}

button:hover svg {
  opacity: 1;
}

.flex-row  > button:hover {
  background-color: #61AE45;
}
.form button {
  align-self: anchor-center;
  width: 33%;
  }
  
/* From uiverse.io by @alshahwan */
/*End of main sgin in btn*/